<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/errorClient.js"></script>
    <script src="/js/mainClient.js"></script>
</head>

<body>
    <main>
        <section>
            <section>
                {{#if formatNotChoosen}}
                <h1>icons right</h1>
                <img class="home" src="../assets/icons/home.png" alt="homeButton" />

                {{else}}
                <h1>icons right</h1>
                <img class="home" src="../assets/icons/home.png" alt="homeButton" />

                {{#if mobile}}
                <img class="both" src="../assets/icons/both.png" alt="bothButton" />
                <img class="desktop" src="../assets/icons/desktopSmall.png" alt="desktopButton" />

                {{else if desktop}}
                <img class="mobile" src="../assets/icons/mobile.png" alt="mobileButton" />
                <img class="both" src="../assets/icons/both.png" alt="bothButton" />

                {{else}}
                <img class="mobile" src="../assets/icons/mobile.png" alt="mobileButton" />
                <img class="desktop" src="../assets/icons/desktopSmall.png" alt="desktopButton" />

                {{/if}}
                {{/if}}



            </section>

            <div>
                {{#if uploadNotChoosen}}
                <div>
                    <h2>Choose your upload for {{version}} version</h2>
                </div>

                <div>

                    <img src="../assets/icons/file.png" alt="fileUpload" />
                    <img src="../assets/icons/keyboard.png" alt="keyboardUpload" />

                    {{else}}
                    <div class="chooseFormatDiv">
                        <h2>Choose your format</h2>
                    </div>

                    <div>
                        <img class="mobile" src="../assets/icons/mobile.png" alt="mobileButton" />
                        <img class="both" src="../assets/icons/Both.png" alt="bothButton" />
                        <img class="desktop" src="../assets/icons/desktopBig.png" alt="desktopButton" />
                    </div>


                    {{/if}}


                </div>
            </div>

        </section>

    </main>
</body>

</html>